<!DOCTYPE html>
<html lang="en">

    <head>
          <link rel="stylesheet" type="text/css" href="{{asset('bundles/cwputil/css/base.css')}}">
    {% block javascript %}{% endblock %}
{% block css %}{% endblock%}
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js></script>
<![endif]-->
<script type="text/javascript">
    document.domain = "sfblog";
</script>
<title>sfblog</title>

</head>
<body>

{% block main %}{% endblock %}
<!-- Core Scripts -->
<script src="assets/js/libs/jquery-1.8.2.min.js"></script>
</body>

</html>
