{% extends "CwpUtilBundle:Layout:layout.html.twig" %}
{% block main %}
    <div class="row-fluid">
        <div class="span12 widget">
            <div class="widget-header">
                <span class="title">管理员</span>
                <a href="{:U('User/admin_add')}" class="btn"><i class="icol-add"></i> 添加管理员</a>
            </div>
            <div class="widget-content table-container">
                <table id="demo-dtable-02" class="table table-striped">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>角色</th>
                            <th>创建时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    <volist name="admins" id="v">
                    {% for user in users %}    
                        <tr>
                            <td>{{user.username}}</td>
                            <td>{$v.Name}</td>
                            <td>{$v.Ctime}</td>
                            <td>{$v.Status}</td>
                            <td class="action-col">
                                <span class="btn-group">
                                    <a href="{:U('user/access_config',array('role_id'=>$v['Id']))}" title="查看拥有权限" class="btn btn-small"><i class="icon-search"></i></a>
                                    <a href="{:U('user/admin_update',array('admin_id'=>$v['Id']))}" class="btn btn-small"><i class="icon-pencil"></i></a>
                                    <a href="#" node_id="{$v.Id}" class="del-button btn btn-small"><i class="icon-trash"></i></a>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <th>Country</th>
                            <th>Death rate</th>
                            <th>Population aged 0-14</th>
                            <th>Population aged 15-64</th>
                            <th>Population aged 65++</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $('.del-button').on('click', function (e) {
                var $obj = $(this);
                $.msgbox("你确定要删除这条记录?", {
                    type: "confirm",
                    buttons: [
                        {type: "submit", value: "是的"},
                        {type: "cancel", value: "取消"}
                    ]
                }, function (result) {
                    if (result === '是的') {
                        var node_id = $obj.attr('node_id');
                        $.ajax({
                            url: "{:U('user/role_del')}",
                            type: 'post',
                            dataType: 'json',
                            data: {'node_id': node_id},
                            success: function (msg) {
                                $.msgbox(msg.info);
                            }
                        });
                    }
                }
                );

            });

        });
    {% endblock %}