{# empty Twig template #}
{% if errors is defined %}
    {% if errors|length > 0 %}
        {% for error in errors|slice(0, 1) %}
            {% if error[field] is defined  %}
                <span class="error-info">错误：{{ error[field] }}</span>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}